
@{
    ViewBag.Title = "Video_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                <section class="vbox">
                    <section class="scrollable wrapper-lg">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="panel">
                                    <!-- video player -->

                                    <a id="stockPost" href="${postVideo.id}"></a>
                                    <div id="jp_container_1" class="jp-video-360p">
                                        <div class="jp-type-single pos-rlt" align="center">
                                            <video width="100%" height="60%" controls autoplay>
                                                <source src="${postVideo.contentPost}" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <div class="wrapper-lg">
                                        <h2 class="m-t-none text-black">
                                            ${postVideo.nameSong}
                                            <span class="musicbar animate inline m-l-sm"
                                                  style="width: 20px; height: 20px">
                                                <span class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span class="bar3 a3 bg-success"></span>
                                                <span class="bar4 a4 bg-warning dk"></span> <span class="bar5 a5 bg-danger dker"></span>
                                            </span>
                                        </h2>
                                        <div class="post-sum">
                                            <p>${postVideo.singer.nameSinger}</p>
                                        </div>
                                        <div class="line b-b"></div>
                                        <div class="text-muted">
                                            <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">${postVideo.ownPost.fullName}</a>
                                            <i class="fa fa-clock-o icon-muted"></i>
                                            <fmt:formatDate type="both" dateStyle="medium" timeStyle="medium"
                                                            value="${dayPost}" />
                                            <a href="#" class="m-l-sm">
                                                <i class="fa fa-comment-o icon-muted"></i>
                                                <c:set var="total" value="${listComments.size()}" /> <c:if test="${total<2}">
                                                    <c:out value="${total} Comment" />
                                                </c:if> <c:if test="${total>=2}">
                                                    <c:out value="${total} Comments" />
                                                </c:if>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="m-t-lg m-b">
                                    <c:set var="total" value="${listComments.size()}" />
                                    <c:if test="${total<2}">
                                        <c:out value="${total} Comment" />
                                    </c:if>
                                    <c:if test="${total>=2}">
                                        <c:out value="${total} Comments" />
                                    </c:if>
                                </h4>
                                <section class="comment-list block">
                                    <c:forEach items="${listComments}" var="cmt">
                                        <article id="comment-id-1" class="comment-item">
                                            <a class="pull-left thumb-sm">
                                                <img src="${cmt.ownComment.avatar}" class="img-circle">
                                            </a>
                                            <section class="comment-body m-b">
                                                <header>
                                                    <a href="#"><strong>${cmt.ownComment.fullName}</strong></a>
                                                    <c:set var="roleCmt"
                                                           value="${cmt.getOwnComment().getClass().getSimpleName()}" />
                                                    <label class="label bg-info m-l-xs">${roleCmt}</label>
                                                    <c:set var="dateCmt" value="${cmt.getCommentTime()}" />
                                                    <span class="text-muted text-xs block m-t-xs">
                                                        <fmt:formatDate type="both" dateStyle="medium" timeStyle="medium"
                                                                        value="${dateCmt}" />
                                                    </span>
                                                </header>
                                                <div class="m-t-sm">${cmt.contentCmt}</div>
                                            </section>

                                        </article>
                                    </c:forEach>

                                </section>

                                <div id="dataTest">
                                    <article id="comment-id-1" class="comment-item">
                                        <a class="pull-left thumb-sm">
                                            <img id="avatar"
                                                 src="${cmt.ownComment.avatar}" class="img-circle">
                                        </a>
                                        <section class="comment-body m-b">
                                            <header>
                                                <a><strong>${cmt.ownComment.fullName}</strong></a>
                                                <c:set var="roleCmt"
                                                       value="${cmt.getOwnComment().getClass().getSimpleName()}" />
                                                <label class="label bg-info m-l-xs">${roleCmt}</label>
                                                <c:set var="dateCmt" value="${cmt.getCommentTime()}" />
                                                <span class="text-muted text-xs block m-t-xs">
                                                    <fmt:formatDate type="both" dateStyle="medium" timeStyle="medium"
                                                                    value="${dateCmt}" />
                                                </span>
                                            </header>
                                            <div class="m-t-sm">${cmt.contentCmt}</div>
                                        </section>

                                    </article>

                                </div>
                                <c:if test="${user!=null}">
                                    <h4 class="m-t-lg m-b">
                                        <c:out value="Leave a comment" />
                                    </h4>
                                    <form>
                                        <div class="form-group">
                                            <label>
                                                <c:out value="Comment" />
                                            </label>
                                            <textarea class="form-control" rows="5" id="dataComment"
                                                      placeholder="Type your comment"></textarea>
                                        </div>
                                        <s:url value="comment/{userID}/" var="url_comment">
                                            <s:param name="userID" value="${user.id}" />
                                        </s:url>
                                        <a id="url_comment" href="${url_comment}"></a>
                                        <button type="button" class="btn btn-info" onclick="startComment()">
                                            <s:message code="profile.nameConfirmButton" />
                                        </button>
                                    </form>
                                </c:if>
                                
                            </div>

                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><s:message code="suggestions.suggestions" /></div>
                                    <div class="panel-body">
                                        <c:forEach items="${listSuggestions}" var="suggestions">
                                            <article class="media">
                                                <a href="<c:url value='/video-detail-${suggestions.code}' />" class="pull-left thumb-lg m-t-xs">
                                                    <img src="${suggestions.image}">
                                                </a>
                                                <div class="media-body">
                                                    <a href="<c:url value='/video-detail-${suggestions.code}' />" class="font-semibold">${suggestions.nameSong}</a>
                                                    <div class="text-xs block m-t-xs">
                                                        <a href="<c:url value='/singer-${suggestions.singer.id}' />">${suggestions.singer.nameSinger}</a>
                                                    </div>
                                                </div>
                                            </article>
                                        </c:forEach>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
<script src="resources/js/comment.js"></script>